<div class="whiteboard-container">
  <mat-toolbar  class="toolbar" [ngClass]="{handset:isHandset}">
    <mat-toolbar-row>

    <div class="header-title" style="display:flex; align-items: center; justify-content: space-between; width:100%; gap:0.5rem">
      <div class="title">
        <img width="50" height="50" src="assets/title.png">
         <span>Whiteboard</span>
      </div>
      @if(microBoardUrl){
        <div class="actions">
          <button mat-button (click)="openBoardsPicker()">
           View All Boards
           <fa-icon [icon]="faExpand"></fa-icon>
          </button>
         </div>
      }
 
    </div>
    </mat-toolbar-row>
  </mat-toolbar>
  @if(microBoardUrl){
    <router-outlet/>
  }
  @else {
    <div #boardContainer class="no-board">
      <!-- <button mat-stroked-button size="large" (click)="openBoardsPicker()">Choose your board</button> -->
    </div>  
  }
</div>

