.whiteboard-container{
  display: flex;
  flex-direction: column;
  padding:0;
  width:100%;
  height:100%;
  overflow: auto;
  .header-title{
    & .title{
      display:flex;
      align-items: center;
    }
  }
  .toolbar{
    display:flex;
    justify-content: space-between;
    &.handset{
      justify-content: none;
      gap:3.5rem;
      position:relative;
    }
  }
}
.no-board{
  display: flex;
  height: calc(100vh - 65px);
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  & button{
    font-size:20px;
  }
}

.actions.handset{
  display: flex;
  align-items: center;
  position: absolute;
  right: 0rem;
}

.loader{
  width:100vw;
  height: calc(100vh - 65px);
  display:flex;
  align-items: center;
  justify-content: center;
}