<div class="whiteboard-container">
  <mat-toolbar class="toolbar" [ngClass]="{handset:isHandset}">

    <div class="header-title" style="display:flex; align-items: center; gap:0.5rem">
      @if (isHandset && enableGoToBoards) {
        <div class="mobile-action">
            <fa-icon [icon]="faChevronLeft" [routerLink]="'/whiteboard/dashboard'"/>
        </div>
      }
      <div class="title">
        <img width="50" height="50" src="assets/title.png">
         <span>Whiteboard</span>
      </div>

    </div>

    <div class="actions" [ngClass]="{handset:isHandset}">
      @if(enableGoToBoards && !isHandset){
        <button mat-button aria-label="Example icon-button with heart icon" [routerLink]="'/whiteboard/dashboard'">
          <fa-icon [icon]="faChevronLeft"/>
          Go To Boards
        </button>
      }
      @if (enableGoToBoards) {
        @if(!isHandset){
          <button mat-button [mat-menu-trigger-for]="collabMenu" aria-label="Example icon-button with heart icon">
            <fa-icon [icon]="faHandshake"/>
              <span>Remote Collaboration</span>
          </button>
        }
        @else {
            <fa-icon [mat-menu-trigger-for]="collabMenu" [icon]="faHandshake"/>
        }
      }
      @if (!isLoggedIn) {
          <button mat-button [mat-menu-trigger-for]="loginMenu" aria-label="Example icon-button with heart icon">
            <fa-icon [icon]="faSignIn"/>
              @if (!isHandset) {
                <span>
                  Login
                </span>
              }
          </button>
      }
      @else {
        <button mat-icon-button [mat-menu-trigger-for]="logoutMenu" aria-label="Example icon-button with heart icon">
          <img width="50" height="50" style="border-radius: 50%;" src="" alt="" [srcset]="userData.photoURL">
        </button>
      }
    </div>
  </mat-toolbar>
  <router-outlet/>
</div>


<mat-menu #collabMenu>
  <div class="collab-menu">
    <span class="head">Invite a friend</span>
    <span (click)="copyCollabURL()" mat-menu-item >
      <span>{{collabURL}}</span>
      <fa-icon [icon]="faCopy"></fa-icon>
    </span>
  </div>
</mat-menu>

<mat-menu #loginMenu>
  <div class="collab-menu">
    <app-login/>
  </div>
</mat-menu>

<mat-menu #logoutMenu>
  <div class="collab-menu">
    <app-login [logout]="true"/>
  </div>
</mat-menu>
