<div class="export-diagram-container">
  <div class="export-diagram-header">
    <h3>{{whiteBoardConstants.EXPORT_HEADNING}}</h3>
    <div class="spacer"></div>
    <fa-icon [style.cursor]="'pointer'" mat-dialog-close="" [icon]="faClose"></fa-icon>
  </div>
  <div >
    <form action="" [formGroup]="fg">
      <mat-form-field appearance="fill" [style.width]="'100%'">
        <mat-label>{{whiteBoardConstants.EXPORT_FILE_NAME_LABEL}}</mat-label>
        <input matInput placeholder="Placeholder" formControlName="name">
        <fa-icon matSuffix [style.cursor]="'pointer'" [matMenuTriggerFor]="helpTextMenu" [style.fontSize]="'14px'" [style.paddingRight]="'1rem'" [icon]="faHelp"></fa-icon>
        <mat-error *ngIf="nameHasErrors">
          {{nameHasErrors}}
        </mat-error>
      </mat-form-field>
      <mat-form-field [style.width]="'100%'">
        <mat-label>{{whiteBoardConstants.EXPORT_FORMAT_LABEL}}</mat-label>
        <mat-select formControlName="exportType">
          <mat-option *ngFor="let option of exportOptions" [value]="option">{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div mat-dialog-actions class="actions">
    <button mat-raised-button mat-dialog-close="">
      {{whiteBoardConstants.EXPORT_DIALOG_CLOSE_TEXT}}
    </button>
    <button mat-raised-button color="primary" (click)="export()">
      {{whiteBoardConstants.EXPORT_ACTION_TEXT}}
    </button>
  </div>


</div>


<mat-menu #helpTextMenu>
  <div class="hints">
    <p> {{nameHint1}}</p>
    <p>{{nameHint2}}</p>
  </div>
</mat-menu>
