<div id="color_tools">
  <div
    id="tool_switch"
    matTooltip="Switch stroke and fill colors [X]"
    (click)="swapColors()"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 11">
      <path
        d="M3.01 2A6 6 0 019 8h1.83l-2.91 2.91L5 8h2a4 4 0 00-3.99-4v1.93L.1 3.02 3.01.1V2z"
      />
    </svg>
  </div>
  <div
    class="color_tool active"
    id="tool_fill"
    ngx-colors-trigger
    (change)="colorChange('fill', $event)"
  >
    <label class="icon_label" title="Change fill color"> </label>
    <div class="color_block">
      <div id="fill_bg"></div>
      <div id="fill_color" class="color_block">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%">
          <rect
            width="100%"
            height="100%"
            [attr.fill]="options.fill"
            opacity="1"
          ></rect>
        </svg>
      </div>
    </div>
  </div>

  <div
    class="color_tool"
    id="tool_stroke"
    ngx-colors-trigger
    (change)="colorChange('strokeColor', $event)"
  >
    <label class="icon_label" title="Change stroke color"> </label>
    <div class="color_block">
      <div id="stroke_bg"></div>
      <div
        id="stroke_color"
        class="color_block"
        title="Change stroke color"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="100%">
          <rect
            width="100%"
            height="100%"
            [attr.fill]="options.strokeColor"
            opacity="1"
          ></rect>
        </svg>
      </div>
    </div>
  </div>
</div>
