.editor {
  /* red */ /* yellow */ /* green */
  --z0: #111827;
  --z1: #1e2433;
  --a1: #421f24;
  --b1: #45322a;
  --c1: #1c3b3b;
  --z2: #2b313f;
  --z3: #393e4c;
  --z4: #474c59;
  --z5: #565a66;
  --z6: #656974;
  --z7: #747782;
  --a7: #d4100b;
  --z8: #848790;
  --z9: #94969f;
  --z10: #a4a6ae;
  --z12: #c5c7cc;
  --z13: #d6d8db;
  --z14: #e7e9eb;
  --z15: #f9fafb;

  --d0: #152239;
  --d1: #1a3050;
  --d4: #1e5a9d;
  --d6: #1779d4;
  --d7: #0b89f0;
  --d8: #3797ff;
  --d9: #62a3ff;
  --d13: #c3d4fd;
  --d14: #d7e2fd;
  --d15: #eaeffc;
  -webkit-font-smoothing: antialiased;
  --shadow-bg: 0 var(--x2) var(--x4) var(--z0);
  --shadow: 0 var(--x1) var(--x8) rgba(0, 0, 0, 0.4);
  --accent1: var(--d1);
  --accent4: var(--d4);
  --accent6: var(--d6);
  --accent7: var(--d7);
  --accent8: var(--d8);
  --accent9: var(--d9);
  --accent13: var(--d13);
  --accent14: var(--d14);
  --accent15: var(--d15);

  --x1: 4px;
  --x2: 8px;
  --x3: 12px;
  --x4: 16px;
  --x5: 20px;
  --x6: 24px;
  --x7: 28px;
  --x8: 32px;
  --x9: 36px;
  --x10: 40px;
  --x12: 48px;
  --x13: 52px;
  --x16: 64px;
  --mono-font: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --panel-width: calc(var(--x10) * 2 * 2 + var(--x1));
  --transition-duration: 200ms;
  --transition: all var(--transition-duration) ease;
}
